@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Figtree,;
}

body {
    margin: 0;
    touch-action: manipulation;
}

html {
    background: url(assets/meindersstraße.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    touch-action: manipulation;
  }

.game-container {
    background-color: rgba(211, 211, 211, 70%);
    margin: 0.5rem auto;
    text-align: center;
    width: 25rem;
    border-radius: 15%;
}

#mute-button {
    padding: 5px;
    color: black;
    font-weight: bold;
}

.unmuted {
    background-color: green;
    border-color: green;
}

.muted {
    background-color: red;
    border-color: red;
}

.buy-buttons, .data-buttons {
    color: black;
}

.top-section > p {
    margin: 0;
    font-weight: bold;
}

.top-section > img {
    border-radius: 50%;
    margin-top: 1.5rem;
}

#ben-black {
    margin-top: 1.5rem;
    width: 15rem;
    height: 15rem;
}

.hidden {
    display: none;
}

.top-section > img:active {
    transform: translateY(-5px)
}

.point-counter-container {
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

h2 {
    margin-bottom: 0.5rem;
}

.upgrade-container {
    border-top: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto 1fr);
    gap: 1rem;
}

.upgrade-container button {
    padding: 10px;
    font-size: 1rem;
    font-family: Figtree;
    border-radius: 5%;
    background-color: antiquewhite;
    border-color: antiquewhite;
    box-shadow: 1px 1px 1px black;
}

.upgrade-container button:hover {
    background-color: aliceblue;
    border-color: aliceblue;
}

h4 {
    margin-bottom: 0;
    margin-top: 0;
}

h6 {
    margin-top: 0;
}

h3 {
    border-bottom: 2px solid black;
    margin-bottom: 0;
}

.data-buttons {
    display: inline-block;
    margin-top: 2rem;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .game-container {
        margin: 1rem auto;
        width: 20rem;
    }
}

